@charset "UTF-8";
/* default
--------------------------------------------------------*/
body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: 16px;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, Meiryo, "メイリオ", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic",  Osaka, sans-serif;
  line-height: 1.6;
}

@media screen and (max-width: 1140px) {
  body {
    font-size: 15px;
  }
}

* {
  font-size: 1em;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header, footer, section, article, aside, nav,
figure, figcaption, main {
  display: block;
}

ul, ol, dl, li, dt, dd {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  border: none;
}

a, a:visited {
  color: #000;
  text-decoration: none;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
}

:focus {
  outline: none;
}

.hover {
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  cursor: pointer;
}

a:hover, .hover:hover {
  opacity: 0.5;
}

/* 基本
--------------------------------------------------------*/
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}

.fixed-nav + * {
  padding-top: 60px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex.half > * {
  width: 50%;
}

.flex.align-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flex.align-item-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex.single.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex.tri {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .flex.tri {
    display: block;
  }
}

.flex.tri > * {
  width: calc((100% - 24px * 2) / 3);
  margin-right: 24px;
}

.flex.tri > *:nth-child(3n) {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .flex.tri > *:nth-child(3n) {
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .flex.tri > * {
    width: 100%;
    margin-right: auto;
  }
}

.flex.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inner {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  height: 100%;
}

@media screen and (max-width: 1140px) {
  .inner {
    width: 90%;
  }
}

.sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .sp {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
}

.posi-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.txt.txt-just {
  text-align: justify;
}

.txt-c {
  text-align: center;
}

.txt-c .txt + .txt {
  margin-top: 1.5em;
}

@media screen and (max-width: 768px) {
  .sec-title + .txt-c {
    text-align: justify;
  }
}

.txt-l {
  font-size: 48px;
}

@media screen and (max-width: 768px) {
  .txt-l {
    font-size: 24px;
  }
}

.txt-m {
  font-size: 32px;
}

@media screen and (max-width: 768px) {
  .txt-m {
    font-size: 16px;
  }
}

.bold {
  font-weight: bold;
}

.bg-black {
  background-color: #1a1a1a;
  color: #FFF;
}

.bg-black a {
  color: #FFF;
}

.bg-gray {
  background-color: #FAFAFA;
}

.bg-gray02 {
  background-color: #707070;
}

.btn.center {
  text-align: center;
}

.btn > * {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 264px;
  height: 60px;
  padding: 0 1em;
  font-weight: bold;
}

.btn.yellow > * {
  color: #FFF;
  background-color: #FFD61A;
}

* + .btn {
  margin-top: 40px;
}

.btn-frame01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 240px;
  height: 60px;
  border: solid 1px #FFF;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
  opacity: 1;
}

.btn-frame01:hover {
  opacity: 0.5;
  cursor: pointer;
}

.send-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  width: 200px;
  height: 45px;
  color: #FFF;
  background-color: transparent;
  border: solid 1px #FFF;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
  opacity: 1;
}

.send-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.link-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 45px;
  color: #FFF;
  background-color: transparent;
  border: solid 1px #FFF;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
  opacity: 1;
}

.link-btn a:hover {
  opacity: 0.5;
  cursor: pointer;
}

#page-header {
  height: 60px;
  border-bottom: solid 1px #707070;
  font-weight: bold;
  letter-spacing: 0.06em;
}

#page-header > .flex {
  height: 100%;
  padding: 0 20px;
}

#page-header .logo {
  font-size: 18px;
}

#page-header .box {
  position: relative;
}

#page-header .box p {
  margin-right: 1em;
}

#page-header .box p a {
  font-size: 0.9em;
}

#page-header .btn-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 120px;
  height: 36px;
  padding: 0 12px;
  font-size: 0.9em;
  color: #FFF;
  background-color: transparent;
  border: solid 1px #FFF;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
  opacity: 1;
}

#page-header .btn-user:hover {
  opacity: 0.5;
  cursor: pointer;
}

#page-header .user-box {
  display: none;
  position: absolute;
  top: 48px;
  right: 0;
  width: 240px;
  padding: 20px;
  background-color: #1a1a1a;
  border: solid 2px #333333;
}

#page-header .user-box * + * {
  margin-top: 10px;
}

#page-header .user-box input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  width: 100%;
  height: 30px;
  padding: 0.2em 0.5em;
  color: #FFF;
  border: solid 1px #FFF;
  background-color: transparent;
}

#page-header .user-box input[type='submit'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.3em 1em;
  color: #FFF;
  background-color: #1a1a1a;
  border: solid 1px #FFF;
  cursor: pointer;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
  opacity: 1;
}

#page-header .user-box input[type='submit']:hover {
  opacity: 0.5;
  cursor: pointer;
}

.full-h-box {
  overflow-y: scroll;
  height: calc(100vh - 90px);
}

#key .btns {
  margin-top: 60px;
}

#key .btns li {
  margin: 0 20px;
}

.input-box {
  width: 480px;
  padding: 24px;
  border: solid 1px #FFF;
}

.input-box .heading {
  margin-bottom: 1em;
  text-align: center;
}

.input-box dl div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.input-box dl div + div {
  margin-top: 16px;
}

.input-box dl dt {
  width: 115px;
}

.input-box dl dd {
  width: calc(100% - 115px);
}

.input-box dl dd input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  width: 100%;
  height: 30px;
  padding: 0.2em 0.5em;
  border: none;
}

.input-box .send-btn {
  margin: 24px auto 0;
}

.layout {
  height: 100%;
  padding: 20px 20px 0;
}

.layout .side {
  width: 240px;
}

.layout .side .side-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  padding: 0 1em;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

.layout .side .side-list li a:hover {
  opacity: 1;
  color: #1a1a1a;
  background-color: #999;
}

.layout .side .side-list li + li {
  border-top: solid 1px #333333;
}

.layout .content {
  width: calc(100% - 280px);
}

.layout .content .heading {
  padding-left: 0.5em;
  margin-bottom: 2em;
  border-left: solid 8px #FFF;
  border-bottom: solid 1px #FFF;
}

#info {
  font-size: 14px;
  font-weight: bold;
}

#info *:not(:last-child) {
  margin-right: 2em;
}

.input-area .box {
  padding: 24px;
  border: solid 1px #FFF;
}

.input-area .box .input-list dd + dt {
  margin-top: 1em;
}

.input-area .box .input-list dd {
  width: 100%;
  margin-top: 0.5em;
}

.input-area .box .input-list dd input, .input-area .box .input-list dd textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  width: 100%;
  height: 30px;
  padding: 0.2em 0.5em;
  color: #FFF;
  border: solid 1px #FFF;
  background-color: transparent;
}

.input-area .box .input-list dd textarea {
  height: 300px;
}

.input-area .box .input-list dd.labels label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.input-area .box .input-list dd.labels label + * {
  margin-top: 0.5em;
}

.input-area .box .input-list dd.labels label span {
  width: 150px;
}

.input-area .box .input-list dd.labels label input[type="text"] {
  width: calc(100% - 178px);
}

.input-area .box .input-list dd input[type="radio"] {
  position: relative;
  top: -1px;
  width: 18px;
  height: 18px;
  padding: 0;
  margin-right: 10px;
  border-radius: 100%;
}

.input-area .box .input-list dd input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #FFF;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.input-area .box #post-btn {
  margin-top: 24px;
}

.message {
  padding: 24px;
  border: solid 1px #FFF;
}

.message .link-list {
  margin-top: 24px;
}

.epi-list li {
  padding: 24px;
  border: solid 1px #FFF;
}

.epi-list li + * {
  margin-top: 24px;
}

.epi-list li .title {
  padding-bottom: 0.2em;
  margin-bottom: 0.5em;
  border-bottom: dashed 1px #333333;
}

.epi-list li .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}

.epi-list li .status .name::after {
  content: " ,";
}

.epi-list li .status .date {
  margin-left: 1em;
}

.epi-list li .episode {
  margin-top: 1em;
}

#home #map {
  position: absolute;
  top: 0;
  visibility: hidden;
}

#maps #map {
  width: 100%;
  height: 500px;
}
/*# sourceMappingURL=style.css.map */